/**
 * (R) Roland Siegbert <roland.siegbert@gmail.com>
 * vimoperate - options.css
 *
 */

html {
  background:  #000000; //#002b36;
}

body {
	font: 13px/24px "helvetica neue",arial,sans-serif;
	color: #ffffff;
	background: #000000; //#002b36;
	width: 80%;
	max-width: 1000px;
	overflow-x: hidden;
	margin: 15px auto;
}

a, a:active, a:visited {
  color: #ffffff;
/*   color: #b58900; */
}

a:hover {
/*   background-color: #eee8d5; */
  background-color: #eee8d5;
  color: #000000;
}

header {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
header img {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

header h1,header h2,header p {
  margin-left: 100px;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 800px;
  display: block;
  clear: both;
}

footer {
  display: block;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin-top: -3px;
  font-weight: normal;
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
  margin-top: 25px;
}

legend {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0em 0.5em;
	border: 1px solid  #ffffff;
	border-radius:10px;
}

/* Debugging  */
textarea { 
  overflow: auto;  /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
  min-width: 800px;
  min-height: 200px;
}
