<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.example.org/helloworld" version="2011.11">
    <name>VimOperate</name>
    <description>Use Opera with Vim's unbeatable usability!</description>
    <author href="http://www.rscircus.org" email="roland.siegbert@gmail.com">Roland
        Siegbert</author>
	<icon src="icons/vim_red_64.png"/>
</widget>
